*.[Aa][Ss][Xx]
*.[Bb][Aa][Kk]
*.[Bb][Ii][Nn]
*.[Ee][Xx][Ee]
*.[Ll][Ii][Bb]
*.[Ll][Oo][Gg]
*.[Ll][Ss][Tt]
*.[Mm][Aa][Pp]
*.[Oo][Bb][Jj]
*.[Oo][Rr][Gg]
*.[Xx][Bb][Ff]
*.[Xx][Cc][Ff]
*.[Xx][Ff][Ff]
*.[Xx][Xx][Ff]
*.[Zz][Ii][Pp]

/.vs/**
/.vscode/**
/.git/**
/build/**
!/build/.keep_empty_dir
!/build/build.ps1
!/build/clean.ps1
/src/arch/**
!/src/resource/**
/tools/**
!/tools/borlandc
!/tools/borlandc/**
!/tools/build.bat
!/tools/build.conf
!/tools/clean.bat
!/tools/clean.conf
!/tools/dosbox.conf
!/tools/dosbox-x.conf
!/tools/FDOEM.144.gz
!/tools/FDRD.144.gz
!/tools/tools.txt