/src/Arch/**
!/src/Arch/.keep_empty_dir
/src/**/*.[Ll][Ii][Bb]
/src/**/*.[Oo][Bb][Jj]
/src/**/*.[Ll][Ss][Tt]
/src/**/*.[Mm][Aa][Pp]
/src/**/*.[Bb][Ii][Nn]
/src/**/*.[Bb][Aa][Kk]
/src/**/*.[Xx][Cc][Ff]
!/src/Resource/curr_mbr.xcf
/src/**/*.[Xx][Xx][Ff]
!/src/Resource/XRPART00.XXF
!/src/Resource/XRPART01.XXF
!/src/Resource/sbminst.exe
!/src/Resource/cwsdpmi.exe
!/src/XOSL/SPLIT.EXE
/build/**
!/build/.keep_empty_dir
*.[Ee][Xx][Ee]
*~
